h1 {
    text-align: center;
    font-size: 32px;
}
table {
    margin:auto;
}

table, td,th {
    border-collapse: collapse;
    border: 1px solid black;
}

td,th {
    padding:6px 10px;
    text-align: center;
}

td:first-child, tr:first-child, tr:nth-child(2) {
    background-color: aquamarine;
}